<html lang='en'>
	<head>
		<meta http-equiv='Content-Type' content='text/html charset=UTF-8' />
		<meta
			name='viewport'
			content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no'
		/>
	</head>
	<body>
		<div class='body'>
			<div class='container'>
				<div class='header'>
					<img
						src='https://via.placeholder.com/150x150'
						alt='Logo'
						title='Logo'
						style='display: inline'
						width='100%'
						height='60'
					/>
				</div>
				<div class='contents'>
					<h1>{{subject}}</h1>
					<p>{{message}}</p>
				</div>
				<div class='footer'>&copy; 2023 App. All rights reserved.</div>
			</div>
		</div>
	</body>
	<style>
		* { font-family: 'Aeonik', sans-serif; line-height: 25px; } .body {
		background-color: #f1edfd; } .container { height: 100%; max-width: 1024px;
		margin: 0 auto; padding: 30px 15px; } .header { width: 100%; text-align:
		center; margin-bottom: 15px; } .header img { object-fit: contain; }
		.contents { background-color: white; padding: 20px 20px; border-top: 3px
		solid #7047eb; border-bottom: 3px solid #c6b5f7; } .footer { width: 100%;
		margin: 0 auto; margin-top: 30px; text-align: center; color: #6c757d; }
		@media (min-width: 552px) { .contents { padding: 20px 100px; } .footer {
		width: 80%; } }
	</style>
</html>