<html lang='en'>
	<div class='body'>
		<div class='container'>
			<div class='header'>
				<img
					src='https://via.placeholder.com/150x150'
					alt='Logo'
					title='Logo'
					style='display: inline'
					width='100%'
					height='60'
				/>
			</div>
			<div class='contents'>
				<h1>{{otpReason}}</h1>
				<p>Hello {{name}},</p>
				<p>Please use the one-time password (OTP) below;</p>
				<p class='otp'>{{otp}}</p>
				<p class='note'>
					This OTP is valid for 5 minutes. Please do not share this OTP with
					anyone.
					<br />
					If you did not request this OTP, please ignore this email.
				</p>
				<p>The App Team.</p>
			</div>
			<div class='footer'>
				You received this email because you are registered with App. This email
				was sent to
				{{email}}. If you no longer wish to receive these emails you may
				unsubscribe at any time.
				<br /><br />
				&copy; 2023 App. All rights reserved.
			</div>
		</div>
	</div>
	<style>
		* { font-family: 'Aeonik', sans-serif; line-height: 25px; } .body {
		background-color: #f1edfd; } .container { height: 100%; max-width: 1024px;
		margin: 0 auto; padding: 30px 15px; } .header { width: 100%; text-align:
		center; margin-bottom: 15px; } .header img { object-fit: contain; }
		.contents { background-color: white; padding: 20px 20px; border-top: 3px
		solid #7047eb; border-bottom: 3px solid #c6b5f7; } .otp { text-align:
		center; margin: 50px 0; font-size: 40px; font-weight: 600; } .note { color:
		#6c757d; margin-bottom: 40px; } .footer { width: 100%; margin: 0 auto;
		margin-top: 30px; text-align: center; color: #6c757d; } @media (min-width:
		552px) { .contents { padding: 20px 100px; } .footer { width: 80%; } }
	</style>
</html>